body {
    background-color: #d4b0f1;
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
}

header {
    background-color: rgb(175, 113, 245);
    color: #45167a;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

.header-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-topo {
    width: 60px;
    height: auto;
}

main {
    background-color: #d6b6eb;
    color: rgb(104, 39, 189);
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloco-post {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

/* AJUSTE DAS IMAGENS */
img {
    max-width: 100%;
    height: auto;
    background-color: #ffffff; /* Garante fundo claro para imagens com transparência */
}

.bloco-post img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.artigo-autor {
    font-weight: bold;
} 

/* ESTRUTURA DOS CARDS DE TUTORIAIS E IDEIAS */
.linha-cards {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 15px;
}

.card {
    background-color: #e2cbf7;
    border: 1px solid rgb(175, 113, 245);
    padding: 10px;
    width: 45%;
    box-sizing: border-box;
    text-align: center;
}

.card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.texto-meio, .subtitulo {
    font-weight: bold;
    margin: 10px 0;
}

/* MODO ESCURO */
body.modo-escuro {
    background-color: rgb(51, 0, 85);
    color: white;
}

body.modo-escuro header,
body.modo-escuro main {
    background-color: #290446;
    color: white;
}

body.modo-escuro .card {
    background-color: #3b0a61;
    border-color: #5d1796;
}

.escondido {
    display: none;
}